.landing-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  max-width: 100%;
  min-width: 100%;
  height: 100vh;
  max-height: 100vh;
  min-height: 100vh;
}

.profile-img {
  position: absolute;
  margin: auto;
  /* height of the nav bar = 59px */
  top: 59px;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  width: 220px;
  height: 220px;
  z-index: 99;
}

.split {
  width: 100%;
  transition: width 1.5s;
}

.left-side {
  background-color: salmon;
  cursor: pointer;
}

.left-side:hover {
  width: 150%;
}

.right-side {
  background-color: #fdf9ec;
  cursor: pointer;
}

.right-side:hover {
  width: 150%;
}

.split > h2 {
  position: absolute;
  margin: 0.5em;
  font-size: 3rem;
  opacity: 0.6;
  transition: 1s;
  font-weight: 400;
}

.about-tag {
  min-width: min-content;
  text-align: center;
  color: #fdf9ec;
  animation: slideOut-leftside 1.5s forwards;
}

.left-side:hover .about-tag {
  opacity: 1;
  animation: slideIn-leftside 1.5s forwards;
}

.project-tag {
  min-width: min-content;
  min-width: 10rem;
  text-align: center;
  color: black;
  animation: slideOut-rightside 1.5s forwards;
}

.right-side:hover .project-tag {
  opacity: 1;
  animation: slideIn-rightside 1.5s forwards;
}

.adjs {
  height: 95vh;
  display: flex;
  width: min-content;
  flex-direction: column;
  justify-content: center;
  font-size: 4rem;
  font-weight: bolder;
  letter-spacing: 3px;
}

.adjective {
  opacity: 0.2;
  transition: 1.5s;
  position: relative;
}

.adjective:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #fdf9ec;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.5s ease-in-out;
}

.creator-container > .adjective:before {
  background-color: salmon;
}

.adjective:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.adjective > .dot {
  font-weight: 900;
  font-size: 5rem;
}

.adjs:hover .dot {
  color: #72ecfa;
}

.developer-container {
  display: flex;
  margin-left: 1em;
  color: #fdf9ec;
}

.left-side:hover .adjective {
  opacity: 1;
  animation: slow 2s ease forwards;
}

.creator-container {
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: auto 1em auto auto;
}

.creator-container > .adjective {
  margin: 0;
}

.right-side:hover .adjective {
  opacity: 1;
  animation: slow 2s ease backwards;
}

@keyframes slow {
  from {
    max-width: 0rem;
  }
  to {
    max-width: 30rem;
  }
}

@keyframes slideIn-leftside {
  from {
    left: 0;
    right: 100%;
  }
  to {
    left: 0;
    right: 45%;
  }
}

@keyframes slideOut-leftside {
  from {
    left: 0;
    right: 45%;
  }
  to {
    left: 0;
    right: 100%;
  }
}

@keyframes slideOut-rightside {
  from {
    right: 21%;
  }
  to {
    right: 0;
  }
}

@keyframes slideIn-rightside {
  from {
    right: 0;
  }
  to {
    right: 21%;
  }
}
