.left-side {
  /* #CD2E3A */
  background-color: #db6363;
  height: 94vh;
  width: 50%;
  transition: 0.8s;
  text-align: center;
  padding-top: 60px;
}

.about-tag {
  font-size: 4em;
  color: white;
  transition: 0.8s;
  opacity: 0.6;
}
.break {
  margin-bottom: 170px;
}

.left-side > .adjectives {
  display: none;
}

.left-side:hover > .adjectives {
  display: flex;
  animation: reveal-left 2s ease forwards;
  font-size: 7rem;
  margin-left: 20px;
  padding-bottom: 5px;
  color: white;
}

.right-side > .adjective {
  display: none;
}

.right-side:hover > .adjective {
  display: flex;
  justify-content: flex-end;
  animation: reveal-right 2s ease forwards;
  font-size: 7rem;
  padding-bottom: 5px;
  color: black;
  margin-right: 20px;
}

.breaks {
  margin-bottom: 280px;
}

@keyframes reveal-right {
  from {
    clip-path: inset(0 0 0 100%);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes reveal-left {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}


.left-side:hover .about-tag {
  transition: 0.8s;
  opacity: 0.2;
}

.right-side {
  background-color: #FDF9EC;
  height: 94vh;
  width: 50%;
  text-align: center;
  transition: 0.8s;
  position: relative;
}

.project-tag {
  font-size: 4em;
  color: black;
  opacity: 0.6;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 0 60px 10px;
}

.right-side:hover .project-tag {
  transition: 0.8s;
  opacity: 0.2;
}

.left-side:hover, .right-side:hover {
  width: 80%;
  transition: 0.8s;
  cursor: pointer;
}

.landing-container {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
}

.profile-img {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40vh;
  left: 0;
  right: 0;
  top: 0;
  border-radius: 50%;
  max-width: 220px;
  max-height: 220px;
  z-index: 100;
}